   <div class='col-xs-3'>
      <%= render partial: 'users/show' ,locals: {user: @book.user}%>
      <%= render partial: 'new' %>
    </div>
    <div class='col-xs-9'>
        <h2>Book detail</h2>

        <table class='table'>
            <tbody>
                <tr>
                 <%if @book.user.profile_image == nil %>
                     <td> <%=link_to image_tag('noimage.jpg', :size => '40x40') , user_path(@book.user) %></td>
                 <%else%>
                     <td><%=link_to  image_tag(attachment_url(@book.user, :profile_image, :fill, 40, 40, format: "jpg")), user_path(@book.user) %></td>
                <%end%>
                </td>
                 <br> <%=link_to @book.user.name , user_path(@book.user) %>
                  <td><%= @book.title %></td>
                  <td><%= @book.body %></td>
                  <% if @book.user == current_user %>
                  <td><%= link_to 'Edit', edit_book_path(@book.id), class:"btn-sm btn-success" %></td>
                  <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, class:"btn-sm btn-danger","data-confirm"=>"本当に消しますか？" %></td>
                  <%end %>
                </tr>
            </tbody>
        </table>

    </div>
